body {
  color: #434455;
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
}
.logo {
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #4d5ae5;
  font-family: "Raleway";
}
.studio {
  color: #2e2f42;
}
.menu a {
  text-decoration: none;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-weight: 500;
  color: #2e2f42;
  
}
.address {
  font-style: normal;
}
.address li a {
  text-decoration: none;
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  }
  .nav a:hover {
    color: #404bbf;
  }
  .nav a:focus {
    color: #404bbf;
  }
  .address a:hover {
    color: #404bbf;
  }
  .address a:focus {
    color: #404bbf;
  }
.item1 {
  background-color: #2e2f42;
  position: relative;
  display: block;
  font-family: "Roboto",sans-serif;
  text-align: center;
}
.item1 h1 {
  color: white;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  position: relative;
  display: inline-block;
  text-align: center;
}
.item1 button {
  background-color: #4d5ae5;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
}
.item1 button:hover {
  background-color: #404bbf;
}
.item2 li {
  list-style: none;
}
.item2 li h3  {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.item2 p {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.item3 {
  background-color: #f4f4fd;
}
.item3 h2 {
  color: #2e2f42;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
}
.item3 li {
  background-color: #ffffff;
  font-size: 20px;
  line-height: 24px;
 }
.item3 li h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.item3 li p {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.item4 {
  background-color: #ffffff;
}
.item4 h2 {
  position: relative;
  display: inline-block;
  color: #2e2f42;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
}
.item4 li h3 {
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  font-weight: 500;
  color: #2e2f42;
}
.item4 li p {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.footer {
  background-color: #2e2f42;
  color: #f4f4fd;
}
.logo2 {
  font-family: "Raleway", sans-serif;
  color: #4d5ae5;
  font-size: 18px;
  line-height: 1.17;
  font-weight: 700;
  margin-left: 100px;
  letter-spacing: 0.03em;
}
.studio2 {
  color: #f4f4fd;
}
.footer p {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}